.footer{
    background-color: $rojo;
    margin-top: 4rem;
    &__logo{
    width: 100%;
    margin: auto;
    padding: 2rem 0 .5rem;
    border-bottom: 2px solid white;
        img{
        display: block;
        width: 50px;
        margin: auto;
        }
    }

    &__social-media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: .5rem;
        p{
            color: white;
            font-size: 12px;
            font-family: sans-serif;
            padding: .5rem 0;
        }
        @include md{
            flex-direction: row;
            justify-content: space-between;
        }

    }

    &__icon{
        display: flex;
        justify-content: space-between;
        a{
            position: relative;
            color: white;
            font-size: 1.5rem;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            z-index: 1;
            transition: .5s;
            &::before{
                content: '';
                position: absolute;
                background-color: $negro;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border-radius: 50px;
                z-index: -1;
                transform: scale(0);
                transition: .5s;
            }
            &:hover::before{
                transform: scale(1);
            }
        }
    }
    &__arrow{
        position: fixed;
        right: -12px;
        z-index: 4;
        top: 75%;
        color: white;
        font-size: 1.5rem;
        padding: 1rem;
        cursor: pointer;
        opacity: .5;
            @include md{
            position: fixed;
            right: 50px;
            z-index: 4;
            top: 75%;
            color: white;
            font-size: 2.5rem;
            padding: 1rem;
            cursor: pointer;
            }
    }
}