.porfolio{
    background: url(../images/bg-porfolio.svg) 300% 2%/75% no-repeat,url(../images/bg-porfolio-2.svg) -3% 100% no-repeat ;
    @include md{
        background: url(../images/bg-porfolio.svg) 160% 3% no-repeat,url(../images/bg-porfolio-2.svg) -3% 100% no-repeat ;
    }
    @include lg{
        background: url(../images/bg-porfolio.svg) 120% 0% no-repeat,url(../images/bg-porfolio-2.svg) -3% 100% no-repeat ;
    }
    padding-top: 7.5rem;
    &__link{
        display: block;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0, 0, 0, .5);
            transition: .5s all;
            transform: scale(1);
            opacity: 1;
            transform-origin: right bottom;

        }
        &:hover::after{
            content: '';
            transform-origin: bottom right;
            transform: scale(0);
        }
        img{
            width: 100%;
        }
        @include md{
            padding: 0.3125rem;
        }

        .fa-share{
            position: absolute;
            right: 20px;
            bottom: 20px;
            font-size: 1.5rem;
            color: $gris;
            z-index: 5;
            transition: .3s all;
            &::after{
                content: '';
                right: -8px;
                bottom: -8px;
                position: absolute;
                width: 40px;
                height: 41px;
                background-color: $negro;
                z-index: -1;
                border-radius: 50px;
                box-shadow: 3px 2px 6px 0px $negro;
            }
        }
        &:hover .fa-share{
            color: white;
            box-shadow: $gris;
        }
    }

    &__content{
        text-align: center;
        margin-bottom: 2rem;
    }
    &__content .row{
        padding-top: 2rem;
    }
    @include md{
        & .row .col-12.col-md-porfolio {
            padding: 0rem;
        }  
    }
}


@include md{
    .col-md-porfolio{
        flex: 0 1 50%;
    }
}

@include lg{
    .col-lg-porfolio{
        flex: 0 1 33.33%;
    }
}