section.about
    .container
        .row
            .col-12.about__title
                h2.title-section about
            .about__content
                .col-12.col-md
                    .about__img
                        img(src="images/perfil.png", alt="")
                .col-12.col-md
                    .about__skills
                        h3 Wilson Muñoz Castro
                        p Gusto por el diseño gráfico y web, y 
                            | las nuevas tecnologías
                    .about__experience#scroll
                        .about__progress
                            span web design 
                            span.val 45%
                            .about__progress-done(data-done="45")
                        .about__progress
                            span html
                            span.val 85%
                            .about__progress-done(data-done="85")
                        .about__progress
                            span css3
                            span.val 70%
                            .about__progress-done(data-done="70")
                        .about__progress
                            span javascript
                            span.val 50%
                            .about__progress-done(data-done="50")
                        .about__progress
                            span photoshop
                            span.val 80%
                            .about__progress-done(data-done="80")
                        .about__progress
                            span illustrator
                            span.val 75%
                            .about__progress-done(data-done="75")