footer.footer
    .container
        .footer__content
            .footer__logo
                img(src="images/logo-wilson.svg", alt="logo-wilson-muñoz")
            .footer__social-media
                p.footer__by @ All Rights Reserved By Wilson Muñoz
                .footer__icon
                    a(href="") <i class="fab fa-linkedin-in"></i>
                    a(href="") <i class="fab fa-github"></i>
                    a(href="") <i class="fab fa-instagram"></i>
    .footer__arrow
        <i class="fas fa-chevron-circle-up"></i>