//- -------- secction header ------- -//
header.header
    ul.header__float-menu
                each val in ["Home", "About", "Porfolio", "Contact"]
                    li
                        a(href="")=val
    .container
        nav.header__nav
            img.header__logo(src="images/logo-wilson.svg", alt="")
            ul.header__list
                each val in ["Home", "About", "Porfolio", "Contact"]
                    li
                        a(href="")=val
            .header__hamburguer-menu
                sapan.header__bar
        .header__name
            .header__name-wilson
                img(src="images/name.svg", alt="")
            .header__portada
                img(src="images/portada.svg", alt="") 
                p front end developer <span> | designer </span>  