section.porfolio
    .container
        .porfolio__content
            h2.title-section porfolio
            .row
                .col-12.col-md-porfolio.col-lg-porfolio
                    a.porfolio__link(href="#") 
                        img(src="images/web-airbnb.jpg", alt="")
                        <i class="fas fa-share"></i>
                .col-12.col-md-porfolio.col-lg-porfolio
                    a.porfolio__link(href="#") 
                        img(src="images/web-porfolio.jpg", alt="")
                        <i class="fas fa-share"></i>
                .col-12.col-md-porfolio.col-lg-porfolio
                    a.porfolio__link(href="#") 
                        img(src="images/web-periodico.jpg", alt="")
                        <i class="fas fa-share"></i>
                .col-12.col-md-porfolio.col-lg-porfolio
                    a.porfolio__link(href="#") 
                        img(src="images/web-AppJavaScript.jpg", alt="")
                        <i class="fas fa-share"></i>
                .col-12.col-md-porfolio.col-lg-porfolio
                    a.porfolio__link(href="#") 
                        img(src="images/web-porfolio.jpg", alt="")
                        <i class="fas fa-share"></i>
                .col-12.col-md-porfolio.col-lg-porfolio
                    a.porfolio__link(href="#") 
                        img(src="images/web-periodico.jpg", alt="")
                        <i class="fas fa-share"></i>