section.services
    .container
        .row
            .col-4.services__card
                .services__card-img
                    img(src="images/Web-design.svg", alt="")
                    p.services__card-title web design
                p.services__card-description  dise침o y maquetaci칩n web
            .col-4.services__card
                .services__card-img
                    img(src="images/Responsive.svg", alt="")
                    p.services__card-title responsive
                p.services__card-description  dise침o web adaptable
            .col-4.services__card
                .services__card-img
                    img(src="images/Ux.svg", alt="")
                    p.services__card-title ux design
                p.services__card-description 
                    |conocimientos en dise침o de experiencia de usuario